.must{
  background-color: rgb(219 234 254);
  padding:2px 4px;
  margin:4px;
  border-radius: 16%;
}

.inputWidth{
  width: 100%;
border:1px solid rgb(31 41 55);
border-radius: 4px;
height:38px;
background-color: rgba(242, 248, 255, 0.625);
padding-left:12px;
font-size:20px;
}
.textarea{
  width: 100%;
  border:1px solid rgb(31 41 55);
  border-radius: 4px;
  padding-left:12px;
font-size:20px;
background-color: rgba(242, 248, 255, 0.625);
}
.button{
  background-color: rgb(219 234 254);
  border:1px solid rgb(114, 130, 152);
  margin: 0 auto;
  padding: 16px 64px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #ccc;
  position: relative;
}
.button:hover{
  top:2px;
  box-shadow: 0px 2px 7px 0px #ccc;
}

.border3px{
  border-top: 3px  solid rgb(76, 77, 77);
  border-bottom: 3px  solid rgb(76, 77, 77);
  padding: 12px 0px;
  margin-bottom: 12px;
}
.border2px{
  border-top: 2px  solid rgb(76, 77, 77);
  border-bottom: 2px  solid rgb(76, 77, 77);
  padding: 12px 0px;
}