.text {
  font-style: normal;
  background-image: linear-gradient(
  120deg,
  rgba(174, 212, 225, 0.726)  30%, 
  #bff2ff7c 50%,
  rgba(231, 231, 231, 0.192) 70% 
  );
  background-size: 500% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 6s infinite;
}

@keyframes shine {
0% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


