.loop{
  animation: loop-list 30s linear infinite;
}
@keyframes loop-list {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.loop10{
  animation: loop-list 20s linear infinite;
}
